<form *ngIf="canShowList"
      [formGroup]="formGroup"
      role="form"
      novalidate>
  <div formArrayName="rowControls">
    <table class="table  table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">IP address</th>
          <th scope="col">DNS entry</th>
          <th scope="col">Remark</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ipAddress of subnetInfo?.ipAddressList; index as i; trackBy:trackByIpAddress"
            [formGroupName]="i"
            [class.table-primary]="ipAddress.remarks !== ''"
            [class.table-warning]="ipAddress.value === subnetInfo?.ipAddress?.value">

          <th class="align-middle"
              scope="row">
            {{i+1}}
          </th>
          <td class="align-middle">
            <span>
              {{ipAddress?.dotDecimalString}}
            </span>
          </td>
          <td class="align-middle">
            <input formControlName="dnsEntryControl"
                   class="form-control"
                   type="text" />
          </td>
          <td class="align-middle">
            <input formControlName="remarkControl"
                   class="form-control"
                   type="text" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>

<div *ngIf="isListTooBigToShow"
     class="alert alert-warning"
     role="alert">
  The IP address list is not displayed because it has to many entries!
</div>
