<div class="border rounded p-2">
  <!-- <div class="form-row align-items-center">
    <div class="col-auto">
      <h4><small class="text-muted">Details</small></h4>
    </div>
  </div> -->
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label for="si-network-address">Network address</label>
      <div class="input-group">
        <input id="si-network-address"
               class="form-control"
               type="text"
               [value]="subnetInfo?.networkAddress?.dotDecimalString"
               readonly />
      </div>
    </div>
    <div class="col-auto">
      <label for="si-first-address">First address</label>
      <div class="input-group">
        <input id="si-first-address"
               class="form-control"
               type="text"
               [value]="subnetInfo?.firstAddress?.dotDecimalString"
               readonly />
      </div>
    </div>
    <div class="col-auto">
      <label for="si-last-address">Last address</label>
      <div class="input-group">
        <input id="si-last-address"
               class="form-control"
               type="text"
               [value]="subnetInfo?.lastAddress?.dotDecimalString"
               readonly />
      </div>
    </div>
    <div class="col-auto">
      <div class="form-row align-items-start">
        <div class="col-auto">
          <label for="si-broadcast-address">Broadcast address</label>
          <div class="input-group">
            <input id="si-broadcast-address"
                   class="form-control"
                   type="text"
                   [value]="subnetInfo?.broadcastAddress?.dotDecimalString"
                   readonly />
          </div>
        </div>
        <!-- <div class="col-auto">
          <label for="si-btn-show-list">&nbsp;</label>
          <div class="input-group">
            <button (click)="emitShowList()"
                    id="si-btn-show-list"
                    class="btn btn-outline-primary"
                    type="button"
                    [disabled]="subnetInfo === undefined || buttonDisabled"
                    title="Show IP address list">
              <span class="bi-list"></span>
              Show list
            </button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
