<div class="container-fluid bg-default">
  <div class="row align-items-lg-center">
    <div class="col header light-on-dark text-center">
      <span class="bi-calculator display-4"></span>
      <span class="display-4">calcsub.net</span>
    </div>
  </div>
  <div class="row d-flex justify-content-lg-center">
    <app-calculator-input [disabled]="inputDisabled"
                          (subnetInfoChange)="onSubnetInfoChange($event)">
    </app-calculator-input>
  </div>
  <div class="mb-2"></div>
  <div class="row d-flex justify-content-lg-center">
    <app-subnet-info [subnetInfo]="subnetInfo"
                     [buttonDisabled]="buttonDisabled"
                     (showList)="onShowList()">
    </app-subnet-info>
  </div>
  <div class="mb-2"></div>
  <div class="row d-flex justify-content-lg-center">
    <app-ipaddress-list [subnetInfo]="subnetInfoStatic"
                        [showList]="showList"
                        (dirtyList)="onDirtyList()">
    </app-ipaddress-list>
  </div>
  <!-- <div class="row align-items-lg-end">
    <div class="col text-right">
      Version
    </div>
  </div> -->
</div>
