<div class="container-fluid bg-default">
  <div class="row align-items-lg-center">
    <div class="col header light-on-dark text-center">
      <span class="bi-calculator display-3"></span>
      <span class="display-3">calcsub.net</span>
    </div>
  </div>
  <div class="row d-flex justify-content-lg-center">
    <app-calculator-input (subnetInfoChange)="onSubnetInfoChange($event)"></app-calculator-input>
  </div>
  <div class="mb-2"></div>
  <div class="row d-flex justify-content-lg-center">
    <app-subnet-info [subnetInfo]="subnetInfo"></app-subnet-info>
  </div>
  <!-- <div class="row align-items-lg-end">
    <div class="col text-right">
      Version
    </div>
  </div> -->
</div>
