<form [formGroup]="formGroup"
      class="border rounded p-2">
  <!-- <div class="form-row align-items-center">
    <div class="col-auto">
      <h4><small class="text-muted">Parameters</small></h4>
    </div>
  </div> -->
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label for="ip-address">
        IP address
      </label>
      <div class="input-group">
        <input formControlName="ipAddressControl"
               (input)="onChangeIpAddress()"
               id="ip-address"
               class="form-control"
               [class.is-valid]="ipAddressControl.valid"
               [class.is-invalid]="ipAddressControl.invalid"
               type="text"
               placeholder="Enter a valid IP address..."
               required />
      </div>
    </div>
    <div class="col-auto">
      <label for="prefix-length">
        Prefix length
      </label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            /
          </div>
        </div>
        <select formControlName="prefixLengthControl"
                (change)="onChangePrefixLength()"
                id="prefix-length"
                class="custom-select">
          <option *ngFor="let subnetMask of subnetMasks"
                  [value]="subnetMask">
            {{subnetMask.prefixLength}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-auto">
      <label for="subnet-mask">Subnet mask</label>
      <div class="input-group">
        <select formControlName="subnetMaskControl"
                (change)="onChangeSubnetMask()"
                id="subnet-mask"
                class="custom-select">
          <option *ngFor="let subnetMask of subnetMasks"
                  [value]="subnetMask">
            {{subnetMask.dotDecimalString}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-auto">
      <label for="useable-host-address-count">Usable addresses</label>
      <div class="input-group">
        <select formControlName="usableHostsControl"
                (change)="onChangeUsableHosts()"
                id="useable-host-address-count"
                class="custom-select">
          <option *ngFor="let subnetMask of subnetMasks"
                  [value]="subnetMask">
            {{subnetMask.usableHostAddressCount}} {{subnetMask.remark}}
          </option>
        </select>
      </div>
    </div>
  </div>
</form>
